<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Propscan</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    Home screen app for Propscan <br><br><br><br>
    <button><a href="{% url 'login' %}">Login here for new account</a></button> <br>
    <button><a href="{% url 'register_broker' %}">Register new broker</button></a><br>
        <button><a href="{% url 'register_user' %}">Register new user</a></button>
	<script src="index.js"></script>
  </body>
</html>